<%- include('partials/header') -%>
<h1>ERROR</h1>
<h2>CANNOT GO TO THAT PAGE,SINCE YOU ARE NOT THE ADMIN</h2>
<h4>To try again,login again with admin's id</h4>
<a href="/login">CLICK HERE</a>
<%- include('partials/footer') -%>